body{
    color: #F8FAFC;
    background-color: #0F172A;
    text-align: center;
    font-family: Arial, sans-serif;   
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(255,255,255,0.2);
    font-size: 8vmin;
    color: #3B82F6;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    background-color: #1E293B;
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1rem;
}
.reset{
    height: 9vmin;
    width: 18vmin;
    background-color: #334155;
    font-size: 3vmin;
    color: #F8FAFC;
    border: 2px solid #475569;
}
.reset:hover{
    background-color: #475569;
}
.winner-container{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#msg{
    font-size: 4vmin;
}
.hide{
    display: none;
}
